{% extends 'base.html.twig' %}

{% block title %}Studentt index{% endblock %}

{% block body %}
    <h1>Studentt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for studentt in studentts %}
            <tr>
                <td>{{ studentt.id }}</td>
                <td>{{ studentt.name }}</td>
                <td>{{ studentt.cin }}</td>
                <td>
                    <a href="{{ path('app_studentt_show', {'id': studentt.id}) }}">show</a>
                    <a href="{{ path('app_studentt_edit', {'id': studentt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_studentt_new') }}">Create new</a>
{% endblock %}
